<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DokoDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>915997C186B50E2EC72A6D6F193675B2D22380F5</string>
				<key>dateExpires</key>
				<string>9/19/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3C7VUZNULA.com.ando.DokoDemo</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3C7VUZNULA</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3C7VUZNULA.com.ando.DokoDemo</string>
				</array>
			</dict>
			<key>name</key>
			<string>DokoDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cc564af9-28a3-4477-aa2e-774df41c7671</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3C7VUZNULA</string>
				<key>name</key>
				<string>Kien Vu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
